<!DOCTYPE html>
<html lang="cn-ZH">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Benjamin142857">
    <meta name="keywords" content="None">
    <meta name="description" content="Just a test">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="http://www.benjamin-stella.cn/static/other/favicon.ico" type="image/x-icon"/>
    <title>Title</title>

    <link rel="stylesheet" href="/static/login2/default.css">

</head>


<body>

    <h1>登录页面</h1>

</body>

</html>