<!DOCTYPE html>
<html lang="cn-ZH">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Benjamin142857">
    <meta name="keywords" content="None">
    <meta name="description" content="Just a test">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="http://www.benjamin-stella.cn/static/other/favicon.ico" type="image/x-icon"/>
    <title>Title</title>

    <link rel="stylesheet" href="/static/vendor/normalize.css">
    <link rel="stylesheet" href="/static/vendor/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
</head>


<body>
    <div class="container" style="margin-top: 150px">
        <div class="row center">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">所有出版社</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>出版社名</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for press in press_qs %}
                            <tr>
                                <th>{{ press.id|safe }}</th>
                                <td>{{ press.name|safe }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if test == 1 %}
                        <div>111</div>
                    {% elif test|safe == '2' %}
                        <div>222</div>
                    {% else %}
                        <div>Nothing</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <script src='/static/vendor/jquery-3.4.0.min.js'></script>
    <script src='/static/vendor/bootstrap-3.3.7/js/bootstrap.min.js'></script>
</body>

</html>