<!DOCTYPE html>
<html lang="cn-ZH">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Benjamin142857">
    <meta name="keywords" content="None">
    <meta name="description" content="Just a test">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="http://www.benjamin-stella.cn/static/other/favicon.ico" type="image/x-icon"/>
    <title>Title</title>

    <link rel="stylesheet" href="/static/vendor/normalize.css">
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}

    <link rel="stylesheet" href="{{ STATIC_PREFIX }}vendor/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
    {% load app01_filter %}
</head>


<body>

    <div class="container text-center" style="margin-top: 100px">
        <button class="btn btn-success" style="margin-top: 20px">{{ name|add_str:'is very very very handsome' }}</button>
        <button class="btn btn-danger" style="margin-top: 20px">{{ size|slice:"2:-1" }}</button>

        <table border="1">
            <tbody>
            {% for row in list %}
                <tr>
                    {% for foo in row %}
                        {% if forloop.counter == 2 and forloop.parentloop.counter != 2 %}
                            <td style="color: palevioletred">{{ foo }}<td>
                        {% else %}
                            <td>{{ foo }}<td>
                        {% endif %}

                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <p>{% join_str name size %}</p>

        {% pagination page now_page %}

    </div>

<script src='/static/vendor/jquery-3.4.0.min.js'></script>
<script src='/static/vendor/bootstrap-3.3.7/js/bootstrap.min.js'></script>
</body>

</html>