<!DOCTYPE html>
<html lang="cn-ZH">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="Benjamin142857">
    <meta name="keywords" content="None">
    <meta name="description" content="Just a test">
    <link rel="icon" href="http://www.benjamin-stella.cn/static/other/favicon.ico" type="image/x-icon"/>
    <title>Title</title>


</head>


<body>


<h1>啦啦啦</h1>
<h2 style="color: #815cff">这里是test3</h2>

</body>

</html>