<!DOCTYPE html>
<html lang="cn-ZH">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Benjamin142857">
    <meta name="keywords" content="None">
    <meta name="description" content="Just a test">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="http://www.benjamin-stella.cn/static/other/favicon.ico" type="image/x-icon"/>
    <title>Title</title>

    <link rel="stylesheet" href="/static/vendor/normalize.css">
    <link rel="stylesheet" href="/static/vendor/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
    {% load app01_filter %}
</head>


<body>

    <div class="container text-center" style="margin-top: 100px">
        <button class="btn btn-success">{{ name|add_str:'is very very very handsome' }}</button>
    </div>

<script src='/static/vendor/jquery-3.4.0.min.js'></script>
<script src='/static/vendor/bootstrap-3.3.7/js/bootstrap.min.js'></script>
</body>

</html>